<div class="card">
    <div class="card-header">
        <h3 class="card-title">Personel Ürün Tablosu</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Personel</th>
                    <th>Progress Bar</th>
                    <th style="width: 40px">Adet</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Ahmet Yıldırım</td>
                    <td>
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-danger" style="width: 3%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg-danger">3</span></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ahmet Cengiz</td>
                    <td>
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-warning" style="width: 2%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg-warning">2</span></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>İlker Esen</td>
                    <td>
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-success" style="width: 2%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg-success">2</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>