@using MVC5TicariOtomasyon.Models.Siniflar
@model List<Mesajlar>

@foreach (var item in Model)
{
    <div class="timeline timeline-inverse">
        <!-- timeline time label -->
        <div class="time-label">
            <span class="bg-dark">
                @item.MesajTarih.ToShortDateString()
            </span>
        </div>
        <!-- /.timeline-label -->
        <!-- timeline item -->
        <div>
            <i class="fas fa-envelope bg-dark"></i>

            <div class="timeline-item">
                <span class="time"><i class="far fa-clock"></i> 12:05</span>

                <h3 class="timeline-header"><a href="">@item.MesajKonu</a></h3>

                <div class="timeline-body">
                    @{string metin = System.Text.RegularExpressions.Regex.Replace(item.MesajIcerik, @"<(.|\n)*?>", string.Empty); }
                    @Html.Raw(metin)
                </div>
            </div>
        </div>
        <!-- END timeline item -->
        <!-- timeline item -->
    </div>
}