@using MVC5TicariOtomasyon.Models.Siniflar
@model List<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Kategori Listesi</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="">Kategoriler</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="card mb-4">
    <div class="card card-gray-dark">
        <div class="card-header">
            <h3 class="card-title">Kategoriler Tablosu</h3>
        </div>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Kategori Adı</th>
                    <th>Kategori Sil</th>
                    <th>Kategori Güncelle</th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 0;}
                @foreach (var k in Model)
                {
                    <tr>
                        <td>@(++i)</td>
                        <td>@k.KategoriAD</td>
                        <td align="center">
                            <a href="/Kategori/KategoriSil/@k.KategoriID" class="btn btn-danger">
                                <i class="fas fa-backspace"></i> Sil
                            </a>
                        </td>
                        <td align="center">
                            <a href="/Kategori/KategoriGuncelle/@k.KategoriID" class="btn btn-warning">
                                <i class="fas fa-edit"></i> Güncelle
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Kategori Adı</th>
                    <th>Kategori Sil</th>
                    <th>Kategori Güncelle</th>
                </tr>
            </tfoot>
        </table>
        <a href="/Kategori/KategoriEkle" class="btn btn-dark">Yeni Kategori Ekle</a>

    </div>
</div>