
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>404 HTML Template by Colorlib</title>
    <link type="text/css" href="~/AdminTema/dist/css/errorpage.css" rel="stylesheet" />
</head>
<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h3>Oops! Sayfa Bulunamadı.</h3>
                <h1><span>4</span><span>0</span><span>4</span></h1>
            </div>
            <h2>Üzgünüz, ancak istediğiniz sayfa bulunamadı.</h2>
            <h2><a href="/Login/Index/">ANASAYFAYA DÖN</a></h2>
        </div>
    </div>
</body>
</html>