@model MVC5TicariOtomasyon.Models.Siniflar.Departman
@{
    ViewBag.Title = "DepartmanEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Departman Ekle</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/Departman/Index">Departmanlar</a></li>
                    <li class="breadcrumb-item"><a href="">Departman Ekle</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="card mb-4">
    <div class="card card-gray-dark">
        <div class="card-header">
            <h3 class="card-title">Yeni Departman Ekle</h3>
        </div>
    </div>
    <form method="post">
        <div class="card-body">

            <div class="form-group">
                <label for="DepartmanAd">Departman Adı Giriniz.</label>
                @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
            </div>

        </div>
        <div class="card-body">
            <button type="submit" class="btn btn-dark">Departman Kaydet</button>
        </div>
    </form>
</div>